<div class="container m-3">
  <%= simple_form_for(@consultation) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :duration %>
    <%= f.submit class: "btn btn-success mt-3" %>
  <% end %>
</div>