
  <%# <div class="page-title">
    <h1>Create mentor session</h1>
  </div> %>
  <div id="wrapper">
    <div id="fixed-area">
      <div class="center">
        <h2>
          <div>Share your expertise,</div>
          <div>make a difference.</div>
        </h2>
        <div class="img-center">
          <%= image_tag "https://www.freundevonfreunden.com/wp-content/uploads/Freunde-von-Freunden-Ronan-and-Erwan-Bouroullec-7688-1600x1200.jpg", alt: "alttext"%>
        </div>
      </div>
    </div>
    <div class="form-container">
      <div class="form">
        <%= simple_form_for(@consultation) do |f| %>
        <div class="form-page">
          <%= f.input :title , input_html:{class: "input-field"} %>
        </div>
        <div class="form-page">
          <%= f.input :description, input_html:{class: "input-field"} %>
        </div>
        <div class="form-page">
          <%= f.input :price, label:"$Pricing", input_html:{class: "input-field"}%>
        </div>
        <div class="form-page">
          <%= f.input :duration, label:"Minutes", input_html:{class: "input-field"} %>
        </div>
        <div class="form-page">
          <div class="d-flex">
          <%= link_to "Cancel", dashboard_path, class: "btn btn-outline-primary mr-3" %>
          <%= f.button :submit, "Create session", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
　</div>