<div class="container">
  <div class="page-title">
    <h1>Edit Profile</h1>
  </div>
</div>

<div class="container mb-5">
  <div class="card booking-session col-7" style="padding: 42px 24px;">
    <%= avatar_for(current_user, "avatar-xl border border-primary m-3") %>
    <%# Form %>
    <div class="container">
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :avatar, as: :file %>
        <%= f.input :name %>
        <%= f.input :email, disabled: true %>
        <%= f.input :bio, as: :text %>
        <%= f.input :location %>
        <%= f.input :speciality, as: :collection_select, collection: ["IT", "Film", "Marketing", "Cooking", "UX Design"] %>
        <div class="edit-cta">
          <%= link_to "Cancel", user_path(current_user), class: "btn btn-outline-primary mr-3" %>
          <%= f.button :submit, "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
