<div class="container">
  <div class="page-title">
    <h1>My Dashboard</h1>
    <%= link_to "Create mentor session", new_consultation_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-4 d-flex justify-content-around">
         <div class="card-dashboard mb-3" style="width: 27rem; border-radius: 5px;">
            <div class="card-dashboard-infos d-flex flex-column justify-content-between">
               <h2>My Sessions</h2>
               <p>0</p>
            </div>
         </div>
      </div>

      <div class="col-4 d-flex justify-content-around">
         <div class="card-dashboard mb-3" style="width: 27rem; border-radius: 5px;">
            <div class="card-dashboard-infos d-flex flex-column justify-content-between">
               <h2>Booking request</h2>
               <p>3</p>
            </div>
         </div>
      </div>
      <div class="col-4 d-flex justify-content-around ">
         <div class="card-dashboard mb-3" style="width: 27rem; border-radius: 5px;">
            <div class="card-dashboard-infos d-flex flex-column justify-content-between">
               <h2>My bookings</h2>
               <p>12</p>
            </div>
         </div>
      </div>
   </div>

</div>
<div class="container d-flex flex-column align-items-center" style="width: 100vw;">
   <% current_user.bookings_as_mentor.each do |booking| %>
   <%= link_to booking_path(booking), action: 'go' do %>
   <div class="card-booking col-lg-12">
      <%= image_tag booking.consultation.user.avatar, alt: "Consultant image" %>
      <div class="card-booking-infos">
         <div class="mentor-name">
            <h2><%= booking.consultation.user.name %></h2>
            <p style="opacity: .7;"><%= booking.consultation.title %></p>
         </div>
         <div class="card-booking-description d-flex flex-row justify-content-between">
            <p class="consultation-date" style="font-size: 16px;"><strong>Time: </strong><%= booking.date_time %></p>
            <div>
               <button type="button" class="btn btn-primary" id="decline">Decline</button>
               <button type="button" class="btn btn-primary" id="accept">Accept</button>
            </div>
         </div>
      </div>
   </div>
   <% end %>
   <% end %>
</div>
