<div class="banner" style="background-image: url(<%= image_url('banner.png') %>); height: 480px;">
  <div class="container">
    <div class="text-center">
      <h1>Find a mentor to guide you for <br>the future ahead</h1>
      <p>Work with leading mentors and gain access to personalized guidance to reach your potential. Ongoing sessions and expert advice, on your terms, all for a flat price.</p>
      <%= link_to "Explore mentors", consultations_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="text-center d-flex flex-column justify-content-center">
      <h2 class="mt-5 mb-4">Get mentored by industry veterans</h2>
      <%= image_tag "company-logos1.png", alt: "Company logos", class: "m-3" %>
      <%= image_tag "companies.png", alt: "Company logos", class: "mb-5"%>
    </div>
  </div>
  <div class="section">
    <h2>Browse by expertise</h2>
    <div class="owl-carousel owl-theme">
      <% @expertises.each do |expertise| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= expertise %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="row section-title mb-3">
      <h2 class="align-middle">Now trending</h2>
      <%= link_to "Explore more > ", consultations_path, class: "align-middle" %>
    </div>
    <div class="row">
      <% @top_consultations.each do |consultation| %>
      <div class="col-6 d-flex justify-content-around">
        <div class="card-product mb-3" style="width: 27rem; border-radius: 5px;">
          <%= image_tag consultation.user.avatar, alt: "Consultant image" %>
          <div class="card-product-infos">
            <%= link_to consultation.user.speciality, consultations_path ,class: "btn btn-dark btn-sm mb-3"  %>
            <h2><%= consultation.title %></h2>
            <p><%= consultation.user.name %></p>
            <p><strong><%= consultation.price %>€ / <%= consultation.duration %> min</strong></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  <div class="section">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card-product-big mb-3" style="border-radius: 5px;">
          <div class="card-product-infos">
            <h2>Share your expertise, make a difference.</h2>
            <p>Guiding professionals around the world to have them reach their goals.</p>
            <%= link_to "Become a mentor", new_user_registration_path, class:"btn btn-light", style:"margin-left: 32px;" %>
          </div>
          <%= image_tag "image 1.png", alt: "alttext" %>
        </div>
      </div>
    </div>
  </div>
</div>
